<div ng-controller="navController">

<div id="calcContent">

  <div class="Container" id="boardFoot">
    <h2>Calculating Board Foot</h2>
    <h3>What is a Board Foot?</h3>
  <ul>
    <li>A board foot (bd. ft.) is the unit of measurement for hardwood lumber.</li>
    <li>1 Bd. Ft. = 144 cubic inches</li>
    <li>Board footage is a volume measurement</li>
    <li>T" x W" x L" divided by 144 = Bf. Ft.</li>
    <li>Measure by the board foot when buying random widths and random lengths</li>
  </ul>
  </div>

        <div class="Container" id="calculator">

          <h2>Calculate to List</h2>
          <p>in Inches</p>

<!--
4/4 = 13/16" 0.8125
6/4 =  1-5/16" 1.3125
8/4 = 1-13/16" 1.8125
12/4 = 2-13/16" 2.8125
 -->

        <form id="calc">

          <div class="cut">
            <label>Part:</label>
            <input id="pieceName" type="text" name="pieceName">
          </div>

          <div class="cut">
            <label>Thickness:</label>
            <!-- <input type="number" step="0.25" name="Thickness"> -->
            <select id="Thickness" name="Thickness">
              <option value="1"> 4/4 </option>
              <option value="1.5"> 6/4 </option>
              <option value="2"> 8/4 </option>
              <option value="3"> 12/4 </option>
            </select>

          </div>

          <div class="cut">
            <label>Width:</label>
            <input id="Width" type="number" step="0.25" name="Width">
          </div>

          <div class="cut">
            <label>Length:</label>
            <input id="Length" type="number" step="0.25" name="Length">
          </div>

          <div class="cut">
            <label>Number of Boards:</label>
            <input id="Count" type="number" name="Count">
          </div>

          <button type="submit">Add</button>
        </form>

      </div>

<div class="Container" id="projectContainer">
  <h3>Project List: <input placeholder="Coffee Table"></h3>
  <p id="sideNote"> * Thickness set to nearest 1/4" ie.(4/4 = 1",  6/4 = 1.5").</p>
  <div id="projectList">

    <ul id="partName">
      <h5>Part Name</h5>
    </ul>

    <ul id="setThickness">
      <h5>Thickness</h5>
    </ul>

    <ul id="setWidth">
      <h5>Width</h5>
    </ul>

    <ul id="setLength">
      <h5>Length</h5>
    </ul>

    <ul id="setCount">
      <h5>Count</h5>
    </ul>

    <ul id="BoardFoot">
      <h5>Board Foot</h5>
    </ul>

  </div>

  <h4> Total Board Feet: <span id="totalFeet">0</span></h4>
</div>

</div> <!--calcContent -->
</div> <!--navController-->
