<header id="dash">
  <!-- <a href="#/profile"><li><img class="profImg">Profile</li></a> -->
<div id="heading">
  <h3 id="title">3WireChats</h3>
  <a href="/logout" class="logoutButton"><button>Logout</button></a>

  <!-- <a href="#/profile" id="profile" class="profile"><li>Profile<img class="profImg"></li></a> -->
</div>

<nav id="dashNav">
  <ul>
    <a href="#/chat"><li><img class="navImg" src="../images/chatbw.png">Chat</li></a>
    <!-- href="#/draw" -->
    <a><li class="soon"><img class="navImg" src="../images/draw.png">Draw</li></a>
    <a href="#/calc"><li><img class="navImg" src="../images/calc.png">Calculate</li></a>
  </ul>
</nav>

</header>
