<div id="flexContainer">
<div id="mainContainer">

<p> Show dashFlexContainer Div on click </p>

<p>
  <!-- <strong>id</strong>: <%= user._id %><br> -->
  <strong>email</strong>: <%= user.local.email %><br>
  <!-- <strong>password</strong>: <%= user.local.password %> -->
</p>

</div>
</div>
