<div id="flexContainer">

<div id="mainContainer">
  <h1 id="Title">3WireChat</h1>
  <h3 > Signup </h3>

  <!-- show any messages that come back with authentication -->
    <!-- {{ if (message.length > 0) { }}
        <div class="alert alert-danger">{{ message }}</div>
    {{ } }} -->

  <!-- SIGNUP FORM -->
  <form id="loginForm" action="/signup" method="post">
    <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" name="username" placeholder="Email">
    </div>

    <div class="form-group fg2">
        <label>Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <button type="submit">Signup</button>
  </form>

  <p id="mainSignup">Already have an account? <a href="/#/login">Login</a></p>


</div>
</div>
