@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700);

#chatContainer{
  background-color:rgba(255,255,255,.3);
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  height:calc(100vh - 165px);
}

#chatForm{
  height:60px;
}
#MSGBOX{
  background-color: #263238;
}

#nickname{
 width:2em;
}

#msg{
 width:79%;
 padding:5px;
 margin:5px;
}

#send{
  padding:5px;
  width:18%;
  color:teal;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;

  width:100%;
}

#messages li {
  padding: 10px;
}

#messages li:nth-child(odd){
  background-color:gray;
}
